<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-status="{{status}}">
		{{#if status}}Eat Burger!{{else}}Request Refund!{{/if}}
	</button>
	<button class="remove-burger" data-id="{{id}}">
		Remove
	</button>
</li>
